<table class='table' id='comments'>
  <thead>
    <th>
      User Name
    </th>
    <th>
      Comment
    </th>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.user_name %>
        </td>
        <td>
          <%= comment.text %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
