<table class="table">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= image_tag product[:image_url] if product[:image_url] %>
        </td>
        <td>
          <%= product[:description] %>
        </td>
        <td>
          <%= product[:price] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
